.container {

    display:flex;
    border:4px solid red;
    width:50%;
    font-size:20px;
    font-family:"Helvetica Neue", sans-serif;
    font-weight:bold;
    color:red;
}

.pwp {
    padding-left:30px;
    padding-bottom:20px;
}

h1 {
    font-size:48px;
    text-align:center;

}

.grid-left, .grid-right {
    display:flex;

}

.grid-right {
}

.container2 {
    border: 4px solid red;
    width:50%;
}

.image-header {
    font-family: "Helvetica Neue", sans-serif;
    font-size:18px;
    color:red;
    text-align:center;
}