@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
    .sm\:text-3xl {
        font-size: 2rem /* 30px */;
        line-height: 2.5rem /* 36px */;
    }
}

.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
}


h3 {
    font-weight:bold;
    color: white;
    font-size: 29px;
}

h1 {
    font-weight:bold;
    color:white;
    font-size: 40px;
}

.grid-cols-3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    flex-wrap: wrap;
}

#hero {
max-height: fit-content;
}

.sell-it {

    text-align: left;
    color: white;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 70px;
}

.estimate {
    font-weight: bold;
    height: 100px;
    width: 300px;
    margin-top: 350px;
}

.rw {
    height: 400px;
    width: 400px;
    margin: 60px;
    object-fit: cover
}

.about-text {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: fit-content;

}

.about-section {
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
    font-weight:bold;
    margin-bottom:400px;
}

.about-para {
    margin-bottom: 1em;
}

.cert {
font-size: 20px;
}

.resume {
align-content: center;
    margin-right:0;

}

#gallery, #gallery2, #gallery3, #gallery4 {
    margin-top:30px;
    margin-bottom: 70px;
}

.slides {
    width:1170px;
    height:647px;
}