@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
    .sm\:text-3xl {
        font-size: 2rem /* 30px */;
        line-height: 2.5rem /* 36px */;
    }
}

.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
}

.black-triangle {
    min-width: 360px;
    max-width: 1920px;
}

h3 {
    position:absolute;
    font-weight:bold;
    color: white;
    font-size: 29px;
    line-height: 29px;
    z-index: 1000;
}

h1 {
    position: absolute;
    font-weight:bold;
    color:white;
    font-size: 40px;
    line-height: 5px;
    margin-top: 50px;
    z-index: 1000;
}


.arrow-down {
    width:100%;
    position:relative;
    background-position-x: center;
    z-index: 0;
    height: 0;
    border-right: 1280px solid #48d1cc;
    border-top: 900px solid #000000;
    background-color:#48d1cc;

}


.grid-cols-3 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    position: absolute;
    flex-wrap: wrap;
    margin-top:100px;
    background-color: transparent;
    z-index: 1000;
    min-width: 360px;
    max-width: 1920px;
}


.list-sell {
    position: relative;
    font-size: 20px;
    margin-top: -10em;
    margin-bottom: 20px;
    clear: both;

}


.estimate {
    font-weight: bold;
    height: 100px;
    width: 300px;
    object-fit: cover;
    z-index: 1000;
    margin-top: -10em;
    margin-right: 10px;

}

.rw {
    position: relative;
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin-top: -37em;
    float-wrap: wrap;

}

.about-section {
    display: inline-block;
    font-weight:bold;
    min-width: 360px;
    max-width:1920px;
    height: fit-content;

}



.about-text {
    font-size: 24px;
    margin-top: -150px;
    margin-left: 60px;



}

.sell-it {
    text-align: left;
    margin-top: -50px;
    color: black;
    font-size: 24px;
    z-index: 2000;
}


.about-para {
    margin-bottom: 1em;
}

.about-cert-resume {
    display: grid;
    grid-column: 3;
    z-index: 10000
}

.cert {
    font-size: 20px;
    padding-bottom: 50px;
}

.resume {
    background-color: mediumturquoise;
    color:black;
    font-weight: bold;
    height: 100px;
    width: 300px;
    z-index: 1000000;
    justify-items: right;
    object-fit: cover;
}

.arrow-down1 {
    width: 0;
    height: 0;
    border-left: 235px solid white;
    border-right:235px solid transparent;
    border-top: 235px solid white;
}

.circle {

    position: absolute;
    left:20%;
    transform: translate(-50%, -50%);
    height: 20em;
    width: 30em;
    border-radius: 25em 25em 0 0;
    background-color: #48d1cc;



}


.work-section {
    background-color: #48d1cc;
    z-index: 1000;
}




#gallery, #gallery2, #gallery3, #gallery4 {
    margin-top:30px;
    margin-bottom: 70px;
}

.slides {
    width:1170px;
    height:647px;
}







