@tailwind base;
@tailwind components;
@tailwind utilities;


.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
}

.nav-class {
    z-index:1000000
}

.hero {
    background: url(/public/home-bg.png) no-repeat center center;
    background-size: cover;
}




h3 {
    font-weight:bold;
    color: white;
    font-size: 29px;
    padding-top:2rem;
    z-index: 1000;
}

h1 {
    font-weight:bold;
    color:white;
    font-size: 40px;
    z-index: 1000;
}



.grid-cols-3 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-auto-flow: column;
    position: absolute;
    flex-wrap: wrap;
    margin-top:1rem;
    background-color: mediumturquoise;
    z-index: 1000;
}


.list-sell {
    background-color: black;
    grid-auto-flow: column;

}


.estimate {
    font-weight: bold;
    font-size: 1.5rem;
    height: 100px;
    width: 300px;
    object-fit: cover;
    z-index: 1000;
    margin-right: 10px;
    grid-auto-flow: column;

}

.rw {
    position: relative;
    height: 400px;
    width: 400px;
    margin-top: 2rem;
    z-index:1000;
    grid-auto-flow: column;
}


.robyn {
    font-size: 2rem;
}

.about-section {
    background: url(/public/about-bg.png) no-repeat center center;
    background-size: cover;
    font-weight:bold;

}


.about-text {
    display: inline-block;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.sell-it {
    text-align: left;
    color: black;
    font-size: 28px;
    margin-bottom: 2rem;

}

.about-para {
    font-size: 16px;
}


.about-cert-resume {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-auto-flow: column;

}

.cert {
    font-size: 16px;
}

.resume {
    background-color: mediumturquoise;
    color:black;
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    width: 300px;
    grid-auto-flow: column;


}

.work-section {
    background-color: black;
    max-height: fit-content;
}

.work-text {
    display:inline-block;
    margin-top: 6rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
}


.gallery {
    margin-top:1rem;
    margin-bottom: 70px;

}


.gal-text {
    color: white;
margin-left: 1rem;
    font-size: 15px;

}


.contact-bg {
    position:absolute;
    min-height:800px;
    z-index:-1000;
    margin-top:0;
}

.contact-text {
    font-size: 2.5rem;
}


.contact-form {
    background-color: mediumturquoise;
    z-index:1000;

}

.footer-container {
    background-color: red;
}

.footer {
    display:block;
    padding-top:3rem;
    padding-bottom:4rem;
}




